# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
node_modules/

# Distribution / packaging
dist/
build/
*.egg-info/

# Miscellaneous
.DS_Store
